/* Réinitialisation de base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  background-color: #2a2a2a;
}

/* Conteneur principal */
.container {
  display: flex;
  width: 100%;
}

/* Barre latérale */
.sidebar {
  width: 25%;
  background-color: #181818;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.series-section {
  width: 100%;
}
.series-name {
color: white;
}
.series-image {
  width: 60%;
}

.section-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.series-list {
  list-style: none;
}

.series-category {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.series-list ul {
  list-style: none;
  padding-left: 10px;
}

.series-list li {
  cursor: pointer;
  padding: 5px;
  transition: color 0.3s;
}

.series-list li:hover {
  color: #e1503d;
}

/* Liens */
.links {
  list-style: none;
  margin-top: 20px;
}

.links li {
  margin-bottom: 10px;
}

.links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.links a:hover {
  color: #e1503d;
}

/* Contenu principal */
.main-content {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 43, 43);
  padding: 20px;
}

.content-wrapper {
  text-align: center;
}

.default-image {
  max-width: 60%;
  height: auto;
  border-radius: 3px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Galerie d'images */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  margin-top: 20px;
}

.series-image {
  width: 100%;
  height: auto;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.series-image:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

/* Modale */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  max-width: 80%;
  max-height: 80%;
  border-radius: 2px;
  cursor: pointer;
}

.poster-image {
  max-width: 75%;
  max-height: 100vh;
  object-fit: contain;
  display: block;
  margin: auto;
}

#videoPlayers {
  display: flex;
  justify-content: center; /* Centrage du player */
  margin-top: 40px;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border-radius: 8px;
}

